@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* 
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: rgb(121, 83, 83);
    font-family:  'Acme' sans-serif;
    border: hotpink solid 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    
}
p{
    font-size: 21px;
}
.main{
    height: 100vh;
    border:  black solid 6px;
}
body{
    background: linear-gradient(to left, #7513a3, #4318b8)
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box, .prompt_box{
    width: 500px;
    height: 400px;
    background: white;
    flex-direction: column;
}
.box :is(h1, p, form){
    margin: 8px;
    font-family: 'Open Sans', sans-serif;
}
.box h1{
    font-family: 'Roboto', sans-serif;
}
form{
    flex-direction: column;
}
form input{
    margin-bottom: 8px;
    width: 350px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid #00000073;
}
.btn{
    width: 150px;
    height: 35px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    cursor: pointer;
    background: #4318b8;
    color: #fff;
}
.prompt_box{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans', sans-serif;
}
.prompt_box h1{
    margin-bottom: 10px;
}
.prompt_box.active{
    display: flex;
}